<h3>Elements</h3>

<table id="elements">
    <tr>
        <th>Element Name</th>
        <th>Color</th>
        <th>Damage</th>
        <th>Fire Rate</th>
        <th>Speed</th>
        <th>Projectile Size</th>
    </tr>
    {{#each elements as |element|}}
        <tr>
            <td>{{element.name}}</td>
            <td>{{element.color}}</td>
            <td>{{element.dmg}}</td>
            <td>{{element.firerate}}</td>
            <td>{{element.speed}}</td>
            <td>{{element.projectileSize}}</td>
        </tr>
    {{/each}}
</table>

<h3>Transcribe a new element into you archive. Elements will spawn in game as small squares at random and heal you upon picking them up</h3>
<form id="addElement" method="POST" action="/game/instructions">
        <input type="text" name="name" placeholder="Element Name">
        <input type="text" name="color" placeholder="Color">
        <input type="number" name="dmg" placeholder="Damage">
        <input type="number" name="firerate" placeholder="Fire rate">
        <input type="number" name="speed" placeholder="Speed">
        <input type="number" name="projectileSize" placeholder="Projectile Size">
        <input type="submit" value="Add">
</form>